# Entornos virtuales
venv/
env/
ENV/

# Archivos temporales y caché de Python
__pycache__/
*.pyc
*.pyo

# Variables de entorno y contraseñas
.env

# Bases de datos locales
*.sqlite3
*.db

# Archivos del sistema operativo
.DS_Store
Thumbs.db